* {
  font-family: cursive;
}

.sign-in-div {
  text-align: center;
}

.sign-out-div {
  text-align: center;
  width: 40.75%;
  margin: 0 auto;
}

.sign-in-btn {
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.sign-out-btn {
  width: 100%;
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  border: none;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.chat-div {
  /* background-color: #032c2c; */
  background-color: #39a9a9;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 0px 0px 15px 15px;
  padding: 15px;
  box-sizing: border-box;
}

.user-image-div {
  width: 35px;
  /* margin-right: 10px; */
}

.user-image {
  width: 100%;
  border-radius: 50%;
}

.input-field {
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
}

.send-message-btn {
  margin-left: -45px;
  border-radius: 50%;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  background-color: #128d8d;
  color: white;
}

.message {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  width: 40%;
  /* border-radius: 30px; */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.hello {
  display: inline-block;
  width: 100%;
}

.sent {
  background: #086868;
  float: right;
  border-radius: 30px 10px 30px 30px;
}

.receive {
  background-color: black;
  color: white;
  border-radius: 10px 30px 30px 30px;
}

.text-div {
  width: 70%;
}

.loader {
  margin-top: 15%;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
  left: 0;
  top: 0;
  z-index: 1070;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}
.chat-container{
  overflow: scroll;
  height: 455px;
}
.chat-container::-webkit-scrollbar {
  display: none;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}